<div class="AccountFormWrapper">
  <div class="AccountFormContainer">
    <h2 class="AccountFormTitle">新規登録</h2>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), data: { turbo: false }) do |f| %>

      <div class="form-group">
        <i class="fas fa-user icon"></i>
        <%= f.label :username, "ユーザー名", class: "form-label" %>
        <%= f.text_field :username, autofocus: true, class: 'form-control', placeholder:"ユーザー名を入力" %>
      </div>

      <div class="form-group">
        <i class="fas fa-envelope icon"></i>
        <%= f.label :email,"Email", class: "form-label" %><br>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder:"メールアドレスを入力" %>
      </div>

      <div class="form-group">
        <i class="fas fa-lock icon"></i>
        <%= f.label :password, "Password", class: "form-label" %><br>
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder:"パスワードを入力" %>
      </div>
    
      <div class="form-group">
        <i class="fas fa-lock icon"></i>
        <%= f.label :password_confirmation, "Password(確認用)", class: "form-label" %><br>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder:"確認用パスワードを入力" %>
      </div>
      
      <div class="login-signup-button">
        <%= f.submit "新しくアカウントを作成", class: "login-button" %><br>
        <%= link_to "登録済みの場合はログイン", new_user_session_path, class: "new-account" %>
      </div>
    <% end %>
  </div>
</div>
<%= render 'layouts/shared/footer' %>
