<div class="AccountFormWrapper">
  <div class="AccountFormContainer">
    <h2 class="AccountFormTitle">ログイン</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <i class="fas fa-envelope icon"></i>
        <%= f.label :email, class: "form-label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "e-mail", class: "form-control", placeholder: "メールアドレスを入力" %>
      </div>

      <div class="form-group">
        <i class="fas fa-lock icon"></i>
        <%= f.label :password, class: "form-label" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder:"パスワードを入力" %>
        <% if devise_mapping.rememberable? %>
          <div class="remember-me">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, "パスワードを保存する" %>
          </div>
        <% end %>
      </div>

      <div class="btn-group">
        <%= f.submit "ログイン", class: "btn btn-primary login-button" %><br>
        <%= link_to "アカウントを新規作成", new_user_registration_path, class: "new-account" %>
      </div>
    <% end %>
  </div>
</div>
