<% content_for :js do %>
  <%= javascript_import_module_tag "post" %>
<% end %>
<section class="PostSection">
  <div class="PostContainer">
    <ul class="NavList">
      <li class="NavListItem">
        <%= link_to posts_index_path do %>
          <i class="fas fa-reply"></i>
          戻る
        <% end %>
      </li>
    </ul>
    <h2>✴︎新規投稿✴︎</h2>
    <%= form_for(@post, url: posts_path,  html: { multipart: true, data: { turbo: false } }) do |f| %>
      <div class="field">
        <i class="far fa-comment"></i>
        <%= f.label :title, "Title" %><br>
        <%= f.text_field :title, class: 'form-control', placeholder: 'タイトルを入力' %>
      </div>
      <div class="field", data-turbo-eager="true">
        <i class="far fa-calendar"></i>
        <%= f.label :date, "Date" %><br>
        <%= f.date_field :date, class: 'form-control', id: 'flatpickr', placeholder: '日付を選択' %>
      </div>
      <div class="field">
        <i class="fas fa-pen"></i>
        <%= f.label :caption %><br>
        <%= f.text_area :caption, class: 'postform-caption', placeholder: 'キャプションを入力' %>
      </div>
      <div class="field">
      <i class="fas fa-image"></i>
        <%= f.label :image, "Capcher" %><br>
        <%= f.file_field :images, accept: "image/*", class: 'form-control', multiple: true, id: 'image-upload' %><br>
    </div>
      <div class="image-preview-container">
        <div class="image-preview-slider">
          <div id="image-preview" class="image-preview"></div>
        </div>
      </div>
      <div class="field">
        <i class="fas fa-tags"></i>
        <%= f.label :tag_list, 'Tags' %><br><p>(","でタグの複数登録ができます)</p>
        <%= f.text_field :tag_list, value: @post.tag_list.join(","), class: 'postform', id: 'myTag', placeholder: 'タグを入力' %>
      </div>
      <div class="field">
        <i class="fas fa-map-marker-alt"></i>
        <%= f.label :address, '場所' %><br>
        <%= f.text_field :address, class: 'postform', id: 'address' %>
      </div>
      <div class="map" id="map"></div>
      <%= f.submit "投稿", class: "btn-post" %>
    <% end %>
  </div>
</section>
<%= render 'layouts/shared/footer' %>

<script>
function initMap() {
  let map;
  let geocoder;
  let marker; 
  
  geocoder = new google.maps.Geocoder();

  map = new google.maps.Map(document.getElementById('map'), {
    center: { lat: 38.2049, lng: 138.2529 },
    zoom: 4
  });

  const locationField = document.getElementById('address');
  const autocomplete = new google.maps.places.Autocomplete(locationField);

  autocomplete.bindTo('bounds', map);

  autocomplete.addListener('place_changed', function () {
    const place = autocomplete.getPlace();
    if (!place.geometry) {
    window.alert("場所が見つかりません: " + place.name);
      return;
      locationField.value = "";
    };

    if (place.geometry.viewport) {
      map.fitBounds(place.geometry.viewport);
    } else {
      map.setCenter(place.geometry.location);
      map.setZoom(17);
    }

    if (marker) {
      marker.setMap(null);
    }

    marker = new google.maps.Marker({
      map: map,
      position: place.geometry.location,
      title: place.name
    });
  });
};
window.initMap = initMap;
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_API_KEY'] %>&libraries=places&callback=initMap" defer></script>
