<!DOCTYPE html>
<html>
  <head>
    <title>OshikatsuDiary</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" as="style">
    <link href="https://fonts.googleapis.com/css?family=M+PLUS+1p" rel="stylesheet" as="style">
    <link href="https://fonts.googleapis.com/css2?family=Kiwi+Maru:wght@300&family=Lato:wght@900&display=swap" rel="stylesheet" as="style">
  </head>

  <body>
    <header>
      <% if user_signed_in? %>
        <%= render "layouts/shared/login_header" %>
      <% else %>
        <%= render "layouts/shared/logout_header" %>
      <% end %>
    </header>

    <%= yield %>
    
    <%= render 'layouts/shared/footer' %>
  </body>
</html>
